@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}
main>section{
  margin-top: 120px;
}
.dark-two{
  color:#424242;
}
.dark-three{
  color: #727272;
}
.primary-orange{
  color:#FF900E ;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary{
  background-color: #FF900E;
  color : #FFFFFF;
  font-size: 1.25rem;
  font-weight: 600;
  padding :20px 25px;
  border-radius: 8px;
  border: none;


}

.section-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
  
}
.section-description{
  font-size: 1rem;
  font-weight: 400;
}

/* header styles */


/* navbar styles */

.navbar{
  justify-content: space-between;
  align-items: center;
  
}

.nav-item{
  list-style: none;
  margin-right: 50px;
}
.brand{
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles */
.banner-content{
  max-width: 850px;
  margin: 0 auto ;
  text-align: center;
  margin-bottom: 50px;
}
.brand-title{
  font-size: 4rem;
  font-weight: bold;
}
.brand-description{
  font-size: 1rem;
  font-weight: 400;

}
.banner-image{
  width: 100%;
}
/* team section styles */
.quick{
  font-weight:500;
}
.teams{
  align-items: center;
  
}

.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.our-features{
  margin-left: 130px;
  width: 576px;
}

/* fact related styles */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.fact-card{
border: 1px solid #FF900E ;
border-radius: 8px;
width: 240px;
height: 240px;
align-items: center;
justify-content: center;
text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-info{
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
  margin-bottom: 100px;
 
}

/* sponsors section styles */
.sponsor-content{
  max-width: 542px;
  margin: 150px auto;
  text-align: center;
}
.sponsor-image{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  filter: grayscale(100%);
}

/* responsive media query */

@media screen and (max-width: 576px){
  .navbar , 
  .nav-links,
  .teams{
    flex-direction: column;
    
  }
  .team-image-container,
  .fact-container,
  .sponsor-image{
    grid-template-columns: repeat(1,1fr);
    
    
}
.fact-container
{
  justify-items: center;
  gap: 24px;
}
.sponsor-image{
  justify-items: center;
  gap:60px;
}
.our-features{
  margin-left: 20px;
  width: 415px;
  
}

}

@media screen and (min-width: 576px) and (max-width : 992px){
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 0 auto;
  }
  .fact-container{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 10px;
  }
  .sponsor-image{
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    justify-items: center;
  }
}